@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #000000;
  --primary: #1ea792;
  --secondary: #ff9202;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F5F5F5;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins-mono), sans-serif;
}

.T1 {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T2 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T5 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T6 {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.T7 {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
