.connexionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100%;
    padding: 0 16px;
    margin-top: 25%;
}

.connexionForm{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    row-gap: 32px;
    padding: 42px;
}

.connexionForm>.connexionButton{
    background-color: var(--primary);
    color: white;
    height: 48px;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}

.connexionForm form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}