.container {
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

.head {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
  flex-shrink: 0; /* Fixe la taille de l'en-tête */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: var(--font-league-spartan);
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1,5rem;
  color: var(--primary);
}

.mainContent {
    flex: 1 1 auto;
    margin-top: 60px; /* hauteur de l'entête */
    margin-bottom: 60px; /* hauteur bottom bar */
    overflow-y: auto;
    background: var(--background);
}

.bottomBar {
  height: 60px;
  background: var(--primary);
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
}

.navItem {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF; /* default text/icon color */
}
.navItem.active {
  color: var(--secondary);
}

.navLink {
  font-size: 11px;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 16px;
}

.homeRedirectItem {
    border-radius: 15px;
    border: 1px solid var(--primary);
    aspect-ratio: 164 / 122;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 45%;
    color: var(--secondary);
}

.homeRedirectItem:hover{
  cursor: pointer;
  background-color: var(--primary)/10;
}


.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */
}

.slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}


.nextRDV {
  border-radius: 15px;
  padding: 18px 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 10px;
  border: 2px solid var(--primary);
}

.nextRDVC1, .nextRDVC2, .nextRDVC3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nextRDVC1Title {
  display: flex;
  column-gap: 3px;
}

.nextRDVBadge {
  border-radius: 25px;
  padding: 1px 12px;
  background-color: #1EA79250;
  width: fit-content;
  height: fit-content;
}

.announcementsPromoted {
  border: 2px solid var(--secondary);
  border-radius: 15px;
  padding: 18px 19px;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 10px;
}

.announcementsPromotedHeader {
  display: flex;
  column-gap: 8px;
}

.anouncementActionRequire {
  background-color: #D9D9D941;
  border-radius: 15px;
  padding: 18px 19px;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 10px;
}

.anouncementActionRequireBtn {
  background-color: var(--secondary);
  border-radius: 25px;
  padding: 6px 12px;
  width: fit-content;
  color: white;
  cursor: pointer;
}

.statsRecap {
  border: 2px solid var(--primary);
  border-radius: 15px;
  padding: 18px 19px;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 10px;
}

.statsRecapContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 12px;
}
.statsRecapItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  background-color: #F88C0510;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  flex: 1;
}