.announcementCard {
  border: 1px solid var(--primary);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  column-gap: 12px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
}

.announcementCardContent{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex: 1;
}

.announcementCardImage{
  border-radius: 12px;
  overflow: hidden;
  background-image: url('/photo1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.announcementAvailability{
  display: flex;
  column-gap: 5px;

}

.announcementAvailability div{
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  padding: 2px 4px;
}