.announceProfile {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.announceProfileHeader{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
    align-items: center;
}

.announceProfileHeader>.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.announceProfileHeader>.nameNotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

.announceProfileContentAvailableList {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.announceProfileContentClosedList {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}