.recapContainer{
    border-radius: 10px;
    padding: 16px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}

.recapContainerItem{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: inherit;
}

.separator {
    height: 1px;
    background-color: #CAC4D0;
    width: 100%;
    margin: 8px 0;
}

.paymentInfo{
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    row-gap: 8px;

}

.paymentInfoItem{
    display: flex;
    justify-content: start;
    text-align: left;
    width: inherit;
    flex-direction: column;
    row-gap: 8px;
}

.paymentInfoItem TextField {
    background-color: #F0F0F0;
    border-radius: 15px;
    
}

.secureBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    padding: 16px;
    background-color: #D6F0FC;
    text-align: center;
    border-radius: 10px;
}